{% extends 'layout-app.html' %}

console.log(request.session.data);

{% set hub = "Messages" %}

{% set backLink = true %}

{% set pageHeading = "Do you need a paper letter?" %}

{% block content %}

<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-two-thirds">

    {{ dynamicPageTitle({
      title: pageHeading,
      titleSmall: true
    })}}

    <div class="nhsuk-u-margin-bottom-7">
      <p>Confirm if you do not need a paper letter. If you do not confirm we will send a physical letter to your registered home address.</p>
    </div>

    {{ button({
      text: 'Do not send me a paper letter',
      classes: 'nhsapp-button',
      href: 'message-1'
    }) }}

    {{ button({
      text: 'Send me a paper letter in the post',
      classes: 'nhsuk-button--secondary nhsapp-button',
      href: 'message-1'
    }) }}

  </div>
</div>

{% endblock %}
