{% extends 'layout-app.html' %}

console.log(request.session.data);

{% set hub = "Messages" %}

{% set backLink = true %}
{% set backLinkURL = "inbox-banner" %}

{% set pageHeading = "Boots Pharmacy" %}
{% set pageDescription = "Sent 28 July 2025 at 09:41am" %}

{% block content %}

  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <!-- DYNAMIC PAGE TITLE -->
      {{ dynamicPageTitle({
        title: pageHeading,
        titleSmall: true,
        titleHiddenTextBefore: "Message from",
        description: pageDescription,
        descriptionMuted: true
      })}}

      <div class="nhsuk-u-margin-bottom-7">
        <p>The pharmacy has updated the progress of your prescription. This means that one or more of your prescriptions are ready to collect.</p>
        <a href="#" class="nhsuk-link">Find out which medicines are ready.</a>
      </div>

      <hr class="nhsuk-section-break nhsuk-section-break--m nhsuk-section-break--visible app-section-break--width-2">

      <form style="display: none;"></form>
      <a href="#" class="nhsuk-link nhsuk-link--no-visited-state">
        Flag message
      </a>
      
      <div class="nhsuk-u-padding-bottom-5"></div>
      <a href="#" class="nhsuk-link nhsuk-link--no-visited-state">
        Remove message
      </a>

    </div>
  </div>

  {% endblock %}
