{% extends 'layout-app.html' %}

console.log(request.session.data);

{% set hub = "Messages" %}

{% set backLink = true %}

{% set pageHeading = "Wilburton Surgery" %}
{% set pageDescription = "Sent 5 August 2025 at 11:22am" %}

{% block content %}

<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-two-thirds">

    {{ dynamicPageTitle({
      title: pageHeading,
      titleSmall: true,
      titleHiddenTextBefore: "Message from",
      description: pageDescription,
      descriptionMuted: true
    })}}

    <div class="nhsuk-u-margin-bottom-7">
        <p>This is a reminder about your upcoming blood test appointment.</p>
        <ul class="nhsuk-list">
          <li><strong>Date:</strong> 20th May 2025</li>
          <li><strong>Time:</strong> 9:45am</li>
          <li><strong>Location:</strong> Orange Clinic, Wilburton<br>Surgery, Leeds, AB1 CD2</li>
        </ul>
        <h2 class="nhsuk-heading-xs">How to prepare for your blood test</h2>
        <p>To ensure your results are accurate:</p>
        <ul class="nhsuk-list nhsuk-list--bullet">
          <li>Drink plenty of water before and after your test.</li>
          <li>Avoid heavy exercise</li>
          <li>Eat small portions of food regularly for 24 hours before your test.</li>
          <li>We recommend that you avoid alcohol before and after your test to maintain hydration levels.</li>
        </ul>
        <p>You can read more about <a href="#" class="nhsuk-link">preparing for your blood test.</a></p>
      </div>

      <hr class="nhsuk-section-break nhsuk-section-break--m nhsuk-section-break--visible app-section-break--width-2">

      <form style="display: none;"></form>
      <a href="#" class="nhsuk-link nhsuk-link--no-visited-state">
        Flag message
      </a>
      
      <div class="nhsuk-u-padding-bottom-5"></div>
      <a href="#" class="nhsuk-link nhsuk-link--no-visited-state">
        Remove message
      </a>

    <div class="nhsuk-u-margin-bottom-7" id="feedback-section">
      <hr class="nhsuk-section-break nhsuk-section-break--m nhsuk-section-break--visible app-section-break--width-2 nhsuk-u-margin-bottom-5">
      <h2 class="nhsuk-heading-xs">Thank you for your feedback</h2>
      <p>You may still get messages like this in the future.</p>
      <p>To help us improve the NHS App, we'd like to know more about why you did not find your message useful. <a href="#" class="nhsuk-link">Please fill in this survey (opens in a new tab).</a></p>
    </div>

  </div>
</div>

{% endblock %}
