{% extends 'layout-app.html' %}

console.log(request.session.data);

{% set hub = "Messages" %}

{% set backLink = true %}
{% set backLinkURL = "your-messages" %}

{% set pageHeading = "Liverpool Dock Surgery" %}
{% set pageDescription = "Received 18 June 2025 at 2:15pm" %}

{% block content %}

  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <!-- DYNAMIC PAGE TITLE -->
      {{ dynamicPageTitle({
        title: pageHeading,
        titleSmall: true,
        titleHiddenTextBefore: "Message from",
        description: pageDescription,
        descriptionMuted: true
      })}}

      <div class="nhsuk-u-margin-bottom-7">
        <p>You are invited to take part in research to improve the lives of those living with diabetes.</p>
        <p>You can <a class="nhsuk-link">register to be part of health research</a> or find more information at <a class="nhsuk-link">NHS DigiTrials</a>.</p>
        <p>Yours sincerely,<br>NHS DigiTrials</p>
      </div>  

      <hr class="nhsuk-section-break nhsuk-section-break--m nhsuk-section-break--visible app-section-break--width-2">

      <form style="display: none;"></form>
      <a href="#" class="nhsuk-link nhsuk-link--no-visited-state">
        Flag message
      </a>
      
      <div class="nhsuk-u-padding-bottom-5"></div>
      <a href="#" class="nhsuk-link nhsuk-link--no-visited-state">
        Remove message
      </a>

      <div class="nhsuk-u-margin-bottom-7" id="feedback-section">
        <hr class="nhsuk-section-break nhsuk-section-break--m nhsuk-section-break--visible app-section-break--width-2 nhsuk-u-margin-bottom-5">
        <h2 class="nhsuk-heading-xs">Thank you for your feedback</h2>
        <p>You may still get messages like this in the future.</p>
        <p>To help us improve the NHS App, we'd like to know more about why you did not find your message useful. <a href="#" class="nhsuk-link">Please fill in this survey (opens in a new tab).</a></p>
      </div>

    </div>
  </div>

  {% endblock %}
