{% extends 'layout-app.html' %}

{% set hub = "Services" %}

{% set pageHeading = "Services" %}
{% set pageDescription = "Get care and support to help you stay well" %}

{% block content %}

  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">

      <!-- DYNAMIC PAGE TITLE -->
      {{ dynamicPageTitle({
        title: pageHeading,
        titleSecondary: true,
        description: pageDescription
      })}}

      {{ nhsappSectionHeading({
        headingText: "Your GP services"
      })}}
      
      <ol class="nhsapp-cards nhsapp-cards--stacked">
        <li class="nhsapp-card">
          <div class="nhsapp-card__container">
            <div class="nhsapp-card__content">
              <a href="check-the-pharmacy" class="nhsapp-card__link nhsuk-link--no-visited-state">
                Request repeat prescriptions
              </a>
            </div>
            {{ nhsappIcon('chevronRight') }}
          </div>
        </li>
        <li class="nhsapp-card">
          <div class="nhsapp-card__container">
            <div class="nhsapp-card__content">
              <a href="#" class="nhsapp-card__link nhsuk-link--no-visited-state">
                Book an available GP appointment
              </a>
            </div>
            {{ nhsappIcon('chevronRight') }}
          </div>
        </li>
        <li class="nhsapp-card">
            <div class="nhsapp-card__container">
              <div class="nhsapp-card__content">
                {% if data['gpAppointmentError'] == "yes"  %}
                  <a href="#" class="nhsapp-card__link nhsuk-link--no-visited-state">
                {% else %}
                  <a href="#" class="nhsapp-card__link nhsuk-link--no-visited-state">
                {% endif %}
                  Check for available GP appointments
                </a>
              </div>
              {{ nhsappIcon('chevronRight') }}
            </div>
          </form>
        </li>
      </ol>

      {{ nhsappSectionHeading({
        headingText: "Other NHS services"
      })}}

      {{ nhsappCardGroup({
        stacked: true,
        cards: [
          {
            title: "Check if you need urgent medical help using 111 online",
            href: "#"
          },
          {
            title: "Find NHS services near you",
            href: "#"
          }
        ]
      })}}

      {{ nhsappSectionHeading({
        headingText: "Find health information"
      })}}

      {{ nhsappCardGroup({
        stacked: true,
        cards: [
          {
            title: "Browse NHS health information",
            href: "#"
          },
          {
            title: "Browse NHS medicines information",
            href: "#"
          },
          {
            title: "Find COVID-19 guidance",
            href: "#"
          }
        ]
      })}}

    </div>
  </div>

{% endblock %}

{% block footer %}

<nav class="app-bottom-navigation" id="bottomNav" style="display:block">
  <div class="nhsuk-width-container">
    <div class="nhsuk-grid-row">
      <ul class="app-bottom-navigation__list">
        <li class="app-bottom-navigation__item">
          <a class="app-bottom-navigation__link" href="home">
            {% if hub === "Home" %}
              {{ nhsappIcon('homeFilled') }}
            {% else %}
              {{ nhsappIcon('home') }}
            {% endif %}
            <span class="app-bottom-navigation__label {% if hub === 'Home' %}app-bottom-navigation__label--active{% endif %}">Home</span>
          </a>
        </li>
        <li class="app-bottom-navigation__item">
          <a class="app-bottom-navigation__link" href="services">
            {% if hub === "Services" %}
              {{ nhsappIcon('crossFilled') }}
            {% else %}
              {{ nhsappIcon('cross') }}
            {% endif %}        
            <span class="app-bottom-navigation__label {% if hub === 'Services' %}app-bottom-navigation__label--active{% endif %}">Services</span>
          </a>
        </li>
        <li class="app-bottom-navigation__item">
          <a class="app-bottom-navigation__link" href="#">
            {% if hub === "Your health" %}
              {{ nhsappIcon('heartFilled') }}
            {% else %}
              {{ nhsappIcon('heart') }}
            {% endif %} 
            <span class="app-bottom-navigation__label {% if hub === 'Your health' %}app-bottom-navigation__label--active{% endif %}">Your health</span>
          </a>
        </li>
        <li class="app-bottom-navigation__item">
          <a class="app-bottom-navigation__link" href="#">
            {% if hub === "Messages" %}
              {% if data['messages'] > 0 %}
                {{ nhsappIcon('messagesUnreadFilled') }}
              {% else %}
                {{ nhsappIcon('messagesFilled') }}
              {% endif %}
            {% else %}
              {% if data['messages'] > 0 %}
                {{ nhsappIcon('messagesUnread') }}
              {% else %}
                {{ nhsappIcon('messages') }}
              {% endif %}
            {% endif %}
            <span class="app-bottom-navigation__label {% if hub === 'Messages' %}app-bottom-navigation__label--active{% endif %}">Messages</span>
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>

{% endblock %}