{% block content %}

<h1
  style="
    font-family: arial; 
    font-size: 24px;
    margin-top: 32px;
    margin-left: 16px;
    margin-right: 16px;
    color: #333333;
  ">
  Help us improve NHS App messaging services
</h1>

<p
  style="
    font-family: arial; 
    font-size: 20px;
    margin-top: 32px;
    margin-left: 16px;
    margin-right: 16px;
    color: #333333;
  ">
  We’d like to hear about your experience using <strong>NHS App messaging services.</strong>
</p>

<p
  style="
    font-family: arial; 
    font-size: 20px;
    margin-top: 32px;
    margin-left: 16px;
    margin-right: 16px;
    color: #333333;
  ">
  <strong>Your answers are anonymous.</strong> We cannot see your medical information or contact details. Do not send personal or medical information in your feedback. For example, you NHS number, date of birth, medical diagnosis or medical history. <strong>We do not monitor responses in real time, and we do not respond to any comments.</strong>
</p>

<p
  style="
    font-family: arial; 
    font-size: 20px;
    margin-top: 32px;
    margin-left: 16px;
    margin-right: 16px;
    color: #333333;
  ">
  If you think you need medical help right now, please contact NHS 111 or call 999.
</p>

<p
  style="
    font-family: arial; 
    font-size: 20px;
    margin-top: 32px;
    margin-left: 16px;
    margin-right: 16px;
    color: #333333;
  ">
  It takes around 2 minutes.
</p>

<p
  style="
    font-family: arial; 
    font-size: 20px;
    margin-top: 32px;
    margin-left: 16px;
    margin-right: 16px;
    color: #333333;
  ">
  Thank you for helping to improve the NHS App.
</p>

<form action="#">
  <p
    style="
      font-family: arial; 
      font-size: 20px;
      margin-top: 32px;
      margin-left: 16px;
      margin-right: 16px;
      color: #333333;
    ">
    Why did you not find this message useful?
  </p>
  
  <span style="
    display: block;
    width: 95%;
    margin-left: 16px;
    margin-right: 16px;
    background-color: #F0F0F0;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 12px;
    margin-bottom: 12px;
    ">
    <input type="checkbox">
    <label style="
      font-family: arial;
      ">
    It wasn't relevant to me</label>
  </span>

  <span style="
    display: block;
    width: 95%;
    margin-left: 16px;
    margin-right: 16px;
    background-color: #F0F0F0;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 12px;
    margin-bottom: 12px;
    ">
    <input type="checkbox">
    <label style="
      font-family: arial;
      ">
    It was sent to me at a bad time</label>
  </span>

  <span style="
    display: block;
    width: 95%;
    margin-left: 16px;
    margin-right: 16px;
    background-color: #F0F0F0;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 12px;
    margin-bottom: 12px;
    ">
    <input type="checkbox">
    <label style="
      font-family: arial;
      ">
    I didn't like the subject of the message</label>

  </span>

    <span style="
    display: block;
    width: 95%;
    margin-left: 16px;
    margin-right: 16px;
    background-color: #F0F0F0;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 12px;
    margin-bottom: 12px;
    ">
    <input type="checkbox">
    <label style="
      font-family: arial;
      ">
    I didn't like the content of the message</label>
  </span>

  <button type="submit" style="
    background-color: #005EB8;
    font-family: arial;
    font-size: 16px;
    color: white;
    border: 2px solid #005EB8;
    width: 95%;
    padding-top: 12px;
    padding-bottom: 12px;
    margin-top: 32px; 
    margin-left: 16px;
    margin-bottom: 32px;
    ">Submit</button>
</form>

{% endblock %}
